<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-lg-4">
        <!-- TODO: Order the navbar -->

        <li routerLinkActive="active current" class="nav-item">
            <a [routerLink]="['/t/services']" class="nav-link">My Services</a>
        </li>


        <li routerLinkActive="active current" class="nav-item">
            <a [routerLink]="['/t/courses']" class="nav-link">Courses</a>
        </li>


        <li *ngIf="authService.isLoggedIn()" class="nav-item dropdown no-caret">
            <a  type='button'
                class="nav-link dropdown-toggle"
                id="menu"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <img [src]='authService.getCurrentUser().photo' class="avatar rounded-circle" >

                <i class="fas fa-chevron-right dropdown-arrow"></i>
            </a>

            <div
                class="dropdown-menu dropdown-menu-right animated--fade-in-up"
                aria-labelledby="navbarDropdownDocs">

                <a type='button' class="dropdown-item py-1">
                    <div class="text-gray-900">
                        <b>{{authService.getCurrentUser().fullName}}</b>
                    </div>
                </a>

                <a (click)="authService.logout()"
                   type="button" class="bg-danger dropdown-item py-1">
                    <div class="text-gray-100">
                        <b>Cerrar Sesión</b>
                    </div>
                </a>
            </div>
        </li>
    </ul>
    <a
        *ngIf="!authService.isLoggedIn()"
        class="btn font-weight-500 rounded-pill btn-success"
        routerLink="/login"
    >Iniciar Sesión</a
    >
</div>
