.icon-list-social {
  display: -webkit-box;
  display: flex;
}
.icon-list-social .icon-list-social-link {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.footer .footer-brand {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer-brand svg {
  height: 1rem;
}
.footer.footer-dark {
  color: rgba(255, 255, 255, 0.6);
}
.footer.footer-dark hr {
  border-color: rgba(255, 255, 255, 0.1);
}
.footer.footer-light {
  color: #a2acba;
}

.bg-light {
  background-color: #eff3f9 !important;
}
.bg-dark {
  background-color: #11151a !important;
}
