<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">

                <h1>Nosotros</h1>
                <hr class="my-5" />

                <h4 class="mb-4">
                    <div class="icon-stack bg-gradient-primary-to-secondary text-white mr-2"><fa-icon [icon]='["fas","arrow-right"]' ></fa-icon></div>
                    <b> Misión </b> </h4>
                <p class="lead pt-2">University Class ofrece asesorías académicas de calidad para jóvenes
                    universitarios de la PUCP, a través del acompañamiento continuo a los
                    alumnos empleando innovadoras herramientas de consulta rápida y
                    eficaz.</p>
                <br class="my-5" />
                <h4 class="mb-4">
                    <div class="icon-stack bg-gradient-primary-to-secondary text-white mr-2"><fa-icon [icon]='["fas","arrow-right"]' ></fa-icon></div>
                    <b> Visión </b>
                </h4>
                <p class="lead pt-2">University Class busca convertirse en la primera opción de los jóvenes
                    universitarios para afianzar sus conocimientos a través de un servicio de
                    enseñanza versátil de calidad (virtual y presencial) en el 2021.</p>
                <div class="card bg-light shadow-none">
                    <div class="card-body ">
                        <h4 class="text-center">Un poco más sobre nosotros</h4>
                        <ul class="mb-0">
                            <li class="text-italic">Lo que nos diferencia de otros servicios de aprendizaje es que muy aparte de brindar las asesorías en tiempo real,
                                también brindamos un acompañamiento continuo hacia los alumnos a través de recursos como videos, ppts, material extra: prácticas pasadas, etc.
                                Asimismo, en nuestra plataforma web se puede encontrar una carpeta específica del curso para consultas y dudas.</li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
