<section class="bg-dark py-10">
    <div class="container">
        <!--
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-10">
                    <h2>Nuestros números nos avalan</h2>
                    <p class="lead">Sabemos lo que hacemos, queremos que aprendas y pases todo con buena nota</p>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-lg-4 text-center mb-5">
                <div class="display-1 font-weight-bold">500+</div>
                <div class="h5 text-gray-300">Horas dictadas</div>
                <p>Asesorías con los mejores estudiantes con clases dinámicas y entretenidas.</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <div class="display-1 font-weight-bold">200+</div>
                <div class="h5 text-gray-300">Alumnos</div>
                <p>Como Fast Trainer conseguimos más de 200 alumnos y mejoraron sus calificaciones.</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <div class="display-1 font-weight-bold"><fa-icon [icon]="['fas','user-plus']"></fa-icon></div>
                <div class="h5 text-gray-300">Únete</div>
                <p>Sé parte de esta gran comunidad que tiene el propósito de que pases tus cursos con las mejores notas.</p>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
