<nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand text-gray-900" [routerLink]="['/home']">LEVELFY</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-4">
                <li class="nav-item dropdown no-caret">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/quickstart" target="_blank"
                        ><div class="icon-stack bg-primary-soft text-primary mr-4"><i data-feather="book-open"></i></div>
                            <div>
                                <div class="small text-gray-500">Documentation</div>
                                Usage instructions and reference
                            </div></a
                        >
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/components" target="_blank"
                        ><div class="icon-stack bg-primary-soft text-primary mr-4"><i data-feather="code"></i></div>
                            <div>
                                <div class="small text-gray-500">Components</div>
                                Code snippets and reference
                            </div></a
                        >
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/changelog" target="_blank"
                        ><div class="icon-stack bg-primary-soft text-primary mr-4"><i data-feather="file-text"></i></div>
                            <div>
                                <div class="small text-gray-500">Changelog</div>
                                Updates and changes
                            </div></a
                        >
                    </div>
                </li>
                <li routerLinkActive="active current" class="nav-item" >
                    <a routerLink="/course"  class="nav-link">Cursos</a>
                </li>
                <li routerLinkActive="active current" class="nav-item" >
                    <a routerLink="/blog" class="nav-link">Blog</a>
                </li>
                <li routerLinkActive="active current" class="nav-item" >
                    <a routerLink="/us" class="nav-link">Nosotros</a>
                </li>


            </ul>
            <a class="btn font-weight-500 rounded-pill btn-success" href="#">Iniciar Sesión</a>
        </div>
    </div>
</nav>
