<header class="page-header page-header-xs page-header-dark bg-img-cover overlay overlay-black overlay-70"
    style='background-image: url("https://images.unsplash.com/photo-1535982330050-f1c2fb79ff78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80")'>
    <div class="page-header-content py-5">
        <div class="container text-white">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 text-center">
                    <h1 class="page-header-title">Asesorías Personalizadas</h1>
                    <p class="page-header-text mb-5">Encuentra ayuda personalizada a través de asesorías virtuales con
                        nuestros asesores.</p>
                    <form id="searchBar" class="page-header-signup mb-2 mb-md-0">
                        <div class="form-row justify-content-center">
                            <div class="col-lg-9 col-md-8">
                                <div class="form-group mr-0 mr-lg-2"><input
                                        class="form-control form-control-solid rounded-pill" id="searchInput"
                                        type="text" placeholder="Ingresa el nombre del curso que buscas" /></div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
            fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
</header>