<app-header [bg-image]="serviceType.imageUrl" [header-title]="serviceType.serviceName" > </app-header>


<div class="section bg-light pt-3 pb-10" >
    <div class="container">
        <nav class="navbar navbar-light bg-light justify-content-between py-5 mb-4">
            <form  class='form-inline'>
                <div class='form-group'>
                    <label class='h2 font-weight-800'> Universidad: </label>
                    <select [formControl]='university' #selectUniv
                            (change)='onOptionsSelected(selectUniv.value)'
                            class='form-control custom-select mx-3'
                            name='university'
                            id='rolSelector'>
                        <option [value]='"NONE"'>Todas</option>
                        <option [value]='"PUCP"'>PUCP</option>
                        <option [value]='"UPC"'>UPC</option>
                    </select>
                </div>

            </form>
            <form class="form-inline">
                <input #searchBar id='searchInput'  class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
            </form>
        </nav>

        <div class="row">
            <div class="col-md-8" *ngIf="noCourses">
                <h3 class="justify-content-center text-center">
                    Por el momento no hay cursos disponibles
                </h3>
            </div>
            <!-- change (above) to col-lg-4 if you want three cards in a row, and to
                col-lg-3 if you want 4 in a row-->
            <div *ngFor="let course of courses"  class="col-lg-4 mb-5 item">
                <app-course-card
                    [course]="course"
                    [footer-message]="footerMessage"
                    [path-url]="['/services/'+serviceType.route+'/form']"
                    [path-url-params] = "{i: course.courseId.idCourse,
                                  u: course.courseId.university
                                  }"
                ></app-course-card>
            </div>

            <div *ngFor="let teachInfo of teacherCoursesInfo"  class="col-lg-4 mb-5 item">
                <app-teach-info-card
                    [teacher-courses-info]='teachInfo'
                    [path-url]="['/services/'+serviceType.route+'/form']"
                    [footer-message]="footerMessage"
                ></app-teach-info-card>
            </div>

        </div>

    </div>
</div>

<app-course-suggestion></app-course-suggestion>

