<div class="bg-light">
    <div class="container py-5">
        <div class="row">
            <!-- "sidebar" -->
            <div class="col-lg-3">
                <ul class="mb-1 list-group list-group-flush list-group-careers">
                    <li class="list-group-item pt-0 bg-light">
                        <a style="color: #0D9814;" class="small" [routerLink]="['/service',serviceType.route]">
                            <fa-icon class="mr-1" [icon]="['fas','arrow-left']"></fa-icon>Volver</a>
                    </li>
                    <li class="list-group-item bg-light font-weight-bold">{{serviceType.serviceName}}</li>
                </ul>
            </div>

            <!-- Content -->
            <div class="col-lg-9 ">
                <div class="card no-transition rounded-lg text-dark bg-white">
                    <div class="card-body">
                        <div class="container">
                            <h3 class="mt-0 font-weight-bold text">{{course.name}}</h3>
                            <h6 class="small text-green" style="color: #0D9814;">{{course.univNameStr}}</h6>

                            <div class="row my-4">

                                <div class="col-lg-6">
                                    <a class="d-block rounded-lg text-center" ><img class="img-fluid rounded-lg" [src]="services[0]?.teacher?.photo"/></a>
                                </div>

                                <div class="col-lg-6 ">
                                    <div class="form-group">
                                        <h6 class="mb-3">Ofrecemos:</h6>
                                        <ul class="fa-ul">
                                            <li *ngFor="let str of serviceType.offers" class="mb-3">
                                            <span class="fa-li">
                                                <fa-icon [icon]="['far','dot-circle']"></fa-icon>
                                            </span>
                                                {{str}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <!-- The actual form tag -->
                            <app-service-form [service-type]="serviceType"></app-service-form>

                        </div>


                    </div>


                </div>
            </div>




        </div>
    </div>

</div>

<ng-template>


</ng-template>
