<h1 class="font-weight-bolder text">{{course.name}}</h1>
<h5 class="small text-green" style="color: #0D9814;">{{course.courseId.university | universityString}}</h5>

<div class="row my-3">

    <div class="col-lg-6 my-1">
        <a class="d-block rounded-lg text-center" ><img class="img-fluid rounded-lg" [src]="service.teacher.photo || service.photo"/></a>
    </div>

    <div class="col-lg-6 my-1">
        <div class="form-group">
            <h6 class="mb-3">Ofrecemos:</h6>
            <ul class="fa-ul">
                <li *ngFor="let str of serviceType.offers" class="mb-3">
                            <span class="fa-li">
                                <fa-icon [icon]="['far','dot-circle']"></fa-icon>
                            </span>
                    {{str}}
                </li>
            </ul>
        </div>
    </div>

</div>

<form>
    <div class="form-row">
        <div class="form-group col-md-6"><label class="small text-gray-600" >Asesor</label>
            <select #teacherSelect (change)='onSelectedTeacher(teacherSelect.value)' class="form-control rounded-pill custom-select" >
                <option *ngFor='let serv of services' [value]='serv.idService' >{{serv.teacher.fullName}}</option>
            </select>
        </div>
        <div class="form-group col-md-6"><label class="small text-gray-600">Evaluacion</label>
            <select class="form-control rounded-pill custom-select" >
                <option selected>{{ service.evaluation | evaluationString }}</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6"><label class="small text-gray-600" >Inversión</label>
            <select class="form-control rounded-pill custom-select" >
                <option selected >{{ service.price | priceTagString}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="small text-gray-600">Horarios</label>
        <table class='table'>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora inicio</th>
                    <th>Hora fin</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let session of service.serviceSessionList'>
                    <td>{{session.date | date: 'mediumDate'}}</td>
                    <td>{{session.start }}</td>
                    <td>{{session.end }}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Always here -->
    <div class="form-row pt-4">
        <div class="form-group col-md-12">
            <div  class="card no-transition bg-light shadow-none">
                <div class="card-body d-flex align-items-center justify-content-between p-4">
                    <p class="lead mb-0">{{messageForTheButton}}</p>
                    <button (click)='emitInscription()'  class="btn btn-black btn-marketing rounded-pill ml-2" type="button">Inscribirse</button>
                </div>
            </div>
        </div>
    </div>


</form>
