<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h1>Contamos con el respaldo de</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mb-1 mt-1">
                <a class="card lift h-100" >
                    <img class="card-img-top" src="https://myuniversityclass.s3-sa-east-1.amazonaws.com/photos/equipu.jpeg" alt="..."/>
                </a>
            </div>
            <div class="col-lg-3 mb-1 mt-1">
                <a class="card lift h-100" >
                    <img class="card-img-top" src="https://myuniversityclass.s3-sa-east-1.amazonaws.com/photos/makerlab.jpeg" alt="..."/>
                </a>
            </div>
            <div class="col-lg-3 mb-1 mt-1">
                <a class="card lift h-100" >
                    <img class="card-img-top" src="https://myuniversityclass.s3-sa-east-1.amazonaws.com/photos/gestion.jpeg" alt="..."/>
                </a>
            </div>
            <div class="col-lg-3 mb-1 mt-1">
                <a class="card lift h-100" >
                    <img class="card-img-top" src="https://myuniversityclass.s3-sa-east-1.amazonaws.com/photos/startup.jpeg" alt="..."/>
                </a>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
