<a class="card post-preview lift h-100" >
    <div class="card-body">
        <h3 class="card-title"><fa-icon [icon]="['fas','quote-left']"></fa-icon></h3>
        <div class="template-demo">
            <p>{{testimonial.message}}</p>
        </div>

        <div class="text-center testimonial-star">
            <fa-icon *ngFor="let star of stars" [icon]="star"></fa-icon>
        </div>
    </div>
    <div class="card-footer">
        <div class="post-preview-meta">
            <img class="post-preview-meta-img" [src]="testimonial.photoUrl" alt="photo"/>
            <div class="post-preview-meta-details">
                <div class="post-preview-meta-details-name font-weight-bold">{{testimonial.name}}</div>
                <div class="post-preview-meta-details-date">{{testimonial.description}}</div>
            </div>
        </div>
    </div>
</a>

