<nav id="pageNavbar" class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">LEVELFY</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <fa-icon [icon]="['fas','bars']"></fa-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-4">
                <li class="nav-item dropdown no-caret">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                        <div *ngFor="let serv of services">
                            <a class="dropdown-item py-3" [routerLink]="['/services', serv.route]" >
                                <!--<div class="icon-stack bg-gray-300 text-dark mr-4">
                                    <fa-icon [icon]="['fas','book-open']"></fa-icon>
                                </div>-->
                                <div>
                                    <div class="small text-gray-500">{{serv.serviceName}}</div>
                                </div>
                            </a>
                            <div class="dropdown-divider m-0"></div>
                        </div>
                        <a class="dropdown-item py-3" [routerLink]="['/services']">
                            <div class="icon-stack bg-gray-300 text-dark mr-4">
                                <fa-icon [icon]="['fas','book-open']"></fa-icon>
                            </div>
                            <div>
                                <div class="small text-gray-500">Ver Más</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li routerLinkActive="active current" class="nav-item" >
                    <a routerLink="/course"  class="nav-link">Cursos</a>
                </li>
                <li routerLinkActive="active current" class="nav-item" >
                    <a routerLink="/blog" class="nav-link">Blog</a>
                </li>

                <li routerLinkActive="active current" class="nav-item" >
                    <a routerLink="/us" class="nav-link">Nosotros</a>
                </li>

                <li *ngIf='authService.isLoggedIn()' class="nav-item dropdown no-caret">
                    <a class="nav-link dropdown-toggle" id="menu" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="font-weight-bold small">{{authService.currentUser.fullName}}</span><i class="fas fa-chevron-right dropdown-arrow"></i></a>

                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                        <input (click)='authService.logout()' class="btn-danger btn fa-power-off dropdown-item py-0" type="submit" value="Cerrar sesión"/>
                    </div>
                </li>


            </ul>
            <a *ngIf='!authService.isLoggedIn()' class="btn font-weight-500 rounded-pill btn-success" routerLink="/login">Iniciar Sesión</a>
        </div>
    </div>
</nav>
