<h1>{{ title }}</h1>
<p class="lead">{{ description }}</p>
<div class="d-flex align-items-center justify-content-between mb-5">
    <div class="single-post-meta mr-4">
        <img class="single-post-meta-img" src="{{ photo }}" />
        <div class="single-post-meta-details">
            <div class="single-post-meta-details-name">{{ author }}</div>
            <div class="single-post-meta-details-date">{{ date }} &middot; {{ time }} min</div>
        </div>
    </div>
    <!--div class="single-post-meta-links">
        <a href="#!"><i class="fab fa-twitter fa-fw"></i></a><a href="#!"><i class="fab fa-facebook-f fa-fw"></i></a><a href="#!"><i class="fas fa-bookmark fa-fw"></i></a>
    </div-->
</div>
