<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1>Términos y Condiciones</h1>
                <hr class="my-5" />
                <h4 class="mb-3">
                    <div class="icon-stack bg-gradient-primary-to-secondary text-white mr-2"><fa-icon [icon]='["fas","arrow-right"]' ></fa-icon></div>
                    <b>  CONDICIONES GENERALES </b> </h4>
                <p class="lead pt-2 mb-5 ml-5">Al momento de realizar el pago el alumno está aceptando los términos y condiciones.</p>
                <h4 class="mb-3">
                    <div class="icon-stack bg-gradient-primary-to-secondary text-white mr-2"><fa-icon [icon]='["fas","arrow-right"]' ></fa-icon></div>
                    <b>  PARTICIPACIÓN EN EL CURSO Y CONFIRMACIÓN DE LA INSCRIPCIÓN </b>
                </h4>
                <p class="lead pt-2 mb-5 ml-5">University Class busca convertirse en la primera opción de los jóvenes
                    universitarios para afianzar sus conocimientos a través de un servicio de
                    enseñanza versátil de calidad (virtual y presencial) en el 2021.</p>
                <h4 class="mb-3">
                    <div class="icon-stack bg-gradient-primary-to-secondary text-white mr-2"><fa-icon [icon]='["fas","arrow-right"]' ></fa-icon></div>
                    <b>  PRECIOS Y CONDICIONES DE PAGO </b>
                </h4>
                <p class="lead pt-2 mb-5 ml-5">3.1. La lista de precios de las clases en vigor el día de la inscripción tendrá carácter vinculante para el contrato y se podrá consultar al momento de la inscripción en la página web o aplicativo móvil.<br>

                    3.2. Se deberá abonar a los medios de pago indicados en la página web el precio del curso en su totalidad en el plazo indicado.Al realizar la transferencia deberá indicar los datos correspondientes.<br>
                    3.3. Las comisiones bancarias resultantes del pago del importe del curso correrán por cuenta del alumno es por ello que recomendamos elegir el medio de pago más conveniente.<br>
                    3.4. En caso de no recibirse la totalidad del importe antes de la hora de inicio de la clase, UC se exonera de la reprogramación.<br>
                    3.5. La inasistencia al curso reservado, el retraso, la salida del mismo antes del término o el abandono del curso, así como otras faltas de asistencia (por ejemplo, por enfermedad) supondrán la pérdida del derecho a reembolso del importe del curso.
                </p>
                <h4 class="mb-3">
                    <div class="icon-stack bg-gradient-primary-to-secondary text-white mr-2"><fa-icon [icon]='["fas","arrow-right"]' ></fa-icon></div>
                    <b>  CAMBIOS EN LA RESERVA </b>
                </h4>
                <p class="lead pt-2 mb-5 ml-5">Los cambios en la reserva de los servicios (por ejemplo, un cambio en la fecha del curso) estarán permitidos en casos excepcionales y siempre  se consultará a todos los involucrados. En caso no exista un horario en el que todos los alumnos puedan asistir, se brindarán una fecha adicional según la disponibilidad del asesor.
                </p>
                <h4 class="mb-3">
                    <div class="icon-stack bg-gradient-primary-to-secondary text-white mr-2"><fa-icon [icon]='["fas","arrow-right"]' ></fa-icon></div>
                    <b>  CANCELACIÓN</b>
                </h4>
                <p class="lead pt-2 mb-5 ml-5">5.1. El alumno podrá cancelar la reserva del curso según las siguientes condiciones:<br>
                    En el caso de cancelar la reserva del curso con un plazo mayor a 14 días naturales, usted podrá ejercer su derecho a desistimiento y por tanto, se le devolverán todos los importes abonados.<br>
                    En caso de cancelar la reserva del curso con menos de 13 días  de antelación, se le brinda al alumno dos posibilidades. En la primera, el alumno tendrá la oportunidad de escoger otra clase que se encuentre disponible, en el caso de tener un costo mayor, tendrá que asumir el pago de la diferencia. En la segunda, podrá solicitar un reembolso,pero UC retendrá el 20% del importe del curso por gastos administrativos.<br>
                    En caso de cancelar la reserva del curso en el plazo de entre 7 y 2 días antes del inicio de clases, se le brinda al alumno dos posibilidades. En la primera, se hará retención del 20% del monto depositado por los gastos administrativos generados, posteriormente el alumno podrá escoger otra clase que se encuentre disponible, y asumirá el pago de la diferencia. En la segunda, podrá solicitar un reembolso,pero UC retendrá el 40% del importe del curso por gastos administrativos.<br>
                    En caso de cancelar la reserva del curso con una anterioridad de al menos un (1) día, el UC retendrá el 50 %.<br>
                    En caso de producirse la cancelación con posterioridad al inicio del curso, UC retendrá el 100 % del importe del mismo.<br>

                </p>       <h4 class="mb-3">
                <div class="icon-stack bg-gradient-primary-to-secondary text-white mr-2"><fa-icon [icon]='["fas","arrow-right"]' ></fa-icon></div>
                <b>  USO DE CONTENIDO E INFORMACIÓN</b>
            </h4>
                <p class="lead pt-2 mb-5 ml-5">En las clases, los asesores de UC proporcionarán contenidos, videos y resúmenes elaborados por ellos mismos. Los alumnos deberán hacer uso de estos materiales, de conformidad con las siguientes reglas:

                    <br>  6.1. No podrán revender, redistribuir o comercializar el material brindado bajo ningún caso.
                    <br>6.2 Los alumnos tendrán que responder por las acciones u omisiones a su cargo que atenten contra la propiedad que sobre la información ostente UC y sus asesores.
                </p>       <h4 class="mb-3">
                <div class="icon-stack bg-gradient-primary-to-secondary text-white mr-2"><fa-icon [icon]='["fas","arrow-right"]' ></fa-icon></div>
                <b>  PROTECCIÓN DE DATOS</b>
            </h4>
                <p class="lead pt-2 mb-5 ml-5">UC almacena los datos proporcionados en el registro, los cuales son incorporados a sus bases de datos exclusivamente para fines educativos y garantiza la protección de los mismos. </p>       <h4 class="mb-3">
                <div class="icon-stack bg-gradient-primary-to-secondary text-white mr-2"><fa-icon [icon]='["fas","arrow-right"]' ></fa-icon></div>
                <b>  RECLAMOS </b>
            </h4>
                <p class="lead pt-2 mb-5 ml-5">Todo reclamo debe ser enviado al correo oficial de UC: peru.universityclass@gmail.com, con el asunto “Reclamo” y será resuelto en un plazo máximo de 7 días hábiles.
                </p>


            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-dark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
