<section class="bg-light py-10">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-gradient-dark-to-darker text-white mb-4"><i class="fas fa-chalkboard-teacher"></i></div>
                <h3>Clases personalizadas</h3>
                <p class="mb-0">Las asesorías y clases que brindamos se adecúan a tu forma de aprendizaje. </p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-gradient-dark-to-darker text-white mb-4"><i class="fas fa-user-friends"></i></div>
                <h3>Asesores capacitados</h3>
                <p class="mb-0">Nuestro equipo de asesores consiste de estudiantes destacados, que manejan los temas más complejos de los cursos.</p>
            </div>
            <div class="col-lg-4">
                <div class="icon-stack icon-stack-xl bg-gradient-dark-to-darker text-white mb-4"><i class="fas fa-book-open"></i></div>
                <h3>Material Académico</h3>
                <p class="mb-0">Contamos con material académico para el desarrollo de las asesorías. </p>
            </div>
        </div>
    </div>
</section>
