<!-- Navbar-->
<app-navbar></app-navbar>

<div class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg my-5 bg-white">
                    <br><br>
                    <img class=" rounded mx-auto d-block " width="70" src="/assets/img/favicon.ico">
                    <div class="card-body p-4 text-center">
                        <div class="h4 mb-3">      ¡A un click de ser parte de la comunidad!</div>
                    </div>
                    <div class="card-body p-0 text-center">
                        <div class="col s12 m6 offset-m3 center-align">
                            <a class="oauth-container btn btn-dark darken-4 white black-text" (click)='signIn()'  style="text-transform:none">
                                <div class="left">
                                    <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                </div>
                                Inicia sesión con Google
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="card-body p-4 text-center">
                        <div class="h5 mb-3">Te reconmendamos usar tu correo educativo.</div>
                    </div>

                    <div class="card-body p-4 text-center">
                        <div class="h6 mb-3">Lee nuestros  <a > Términos &amp; Condiciones.</a></div>
                    </div>
                    <div class="card-body">

                        <div hidden class="alert alert-danger" role="alert">
                            Error en el inicio de sesión
                        </div>


                        <!--    <form th:action="@{/processLogin}" method="post">
                                <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label><input name="username" class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Ingresa tu correo" /></div>
                                <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input name="password" class="form-control py-4" id="inputPassword" type="password" placeholder="Ingresa tu contraseña" /></div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label" for="rememberPasswordCheck">Recordar contraseña</label></div>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" style="color: #0a0f16" th:href="@{/forgotPassword}">¿Olvidaste tu contraseña?</a>
                                    <button class="btn btn-success" type="submit">Iniciar sesión</button>
                                </div>
                            </form>-->
                    </div>
                    <!--<div class="card-footer text-center">
                        <div class="small" style="color: #0a0f16"><a style="color: #0a0f16" th:href="@{/signup}">¿No tienes una cuenta? Regístrate!</a></div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
