.section-titles-home {
    font-weight: bold;
}

.blog-card {
    height: 230px;

}

.section-number-title {
    font-size: 5rem;
    color: #4e6773;
    color-rendering: auto;

}

.btn-blog-card {
    position: relative;
    bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
    overflow: hidden;
    position: relative;
}



.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.35rem;
}
.icon-stack-xl {
    height: 4rem;
    width: 4rem;
    font-size: 1.75rem;
    margin-left: auto;
    margin-right: auto;

}
.icon-stack svg {
    height: 3rem;
    width: 3rem;
}
