<!-- Page Header-->
<header id="pageHeader" class="page-header page-header-light bg-white">
    <div class="page-header-content pt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6" data-aos="fade-up">
                    <h1 class="page-header-title">Empieza a aprender de la mejor manera</h1>
                    <p class="page-header-text mb-5">Bienvenido a Levelfy, una plataforma de aprendizaje que te ayudará en tu etapa universitaria.</p>
                    <a class="btn btn-lg btn-success font-weight-500 mr-3" [routerLink]='["/login"]'>Únete ahora<i class="ml-2" data-feather="arrow-right"></i></a>
                    <a class="btn btn-lg btn-white font-weight-500" href="#">Ver video</a>
                </div>
                <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="100"><img class="img-fluid" src="assets/img/illustrations/programming.svg" /></div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>


<!-- Section Basic Icons -->
<app-section-icons></app-section-icons>


<!-- Section: Carousel Offer-->
<app-section-carousel></app-section-carousel>

<!-- Section: Universities-->
<app-section-universities></app-section-universities>

<!-- Section: Numbers-->
<app-section-numbers></app-section-numbers>


<!-- Section testimonials
<app-section-testimonial></app-section-testimonial>
-->

<!-- Section Blog -->
<app-section-blog></app-section-blog>


<!-- Section partners -->
<app-section-partners></app-section-partners>
