<footer class="footer p-5 bg-dark footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-brand">Levelfy</div>
                <div class="mb-3">Aprende mejor</div>
                <div class="icon-list-social mb-5">
                    <a class="icon-list-social-link mr-1" href="javascript:void(0);"><fa-icon [icon]="['fab','facebook-square']"></fa-icon></a>
                    <a class="icon-list-social-link mr-1" href="javascript:void(0);"><fa-icon [icon]="['fab','instagram']"></fa-icon></a>
                    <a class="icon-list-social-link mr-1" href="javascript:void(0);"><fa-icon [icon]="['fab','twitter']"></fa-icon></a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <div class="text-uppercase-expanded text-xs mb-4">Servicios</div>
                        <ul class="list-unstyled mb-0">
                            <li *ngFor="let serv of services" class="mb-2"><a [routerLink]="['/services', serv.route]">{{serv.serviceName}}</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <div class="text-uppercase-expanded text-xs mb-4">Técnico</div>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a [routerLink]='["/contact"]'>Soporte y ayuda</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <div class="text-uppercase-expanded text-xs mb-4">Comunidad</div>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a [routerLink]='["/us"]'>Equipo</a></li>
                            <li class="mb-2"><a [routerLink]='["/us"]'>Asesores</a></li>
                            <li class="mb-2"><a [routerLink]='["/us"]'>Desarrolladores</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <div class="text-uppercase-expanded text-xs mb-4">Enlaces</div>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a [routerLink]='["/"]' >Inicio</a></li>
                            <li class="mb-2"><a [routerLink]='["/us"]'>Nosotros</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-5" />
        <div class="row align-items-center">
            <div class="col-md-6 small">Copyright &copy; Levelfy</div>
            <div class="col-md-6 text-md-right small">
                <a [routerLink]='["/privacy-policy"]' href="javascript:void(0);">Política de privacidad</a>
                &middot;
                <a [routerLink]='["/tyc"]'>Términos &amp; Condiciones</a>
            </div>
        </div>
    </div>
</footer>
