<!-- Page Header-->
<header id="pageHeader" class="page-header page-header-dark bg-dark">
    <div class="page-header-content pt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-10 text-center">
                    <h1 class="page-header-title">{{title}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>


<div class="section bg-light py-10">
    <div *ngFor="let serv of services; let even = even;" class="container">
        <div class="row py-5 x">
            <div class="col-md-6 text-center" routerLinkActive="active">
                <div *ngIf="even; then imageBlock else textBlock"></div>
            </div>
            <div class="col-md-6 text-center" routerLinkActive="active">
                <div *ngIf="!even; then imageBlock else textBlock"></div>
            </div>
        </div>

        <!-- Templates: -->
        <ng-template #imageBlock>
            <div class="card card-img">
                <a [routerLink]="[serv.route]">
                    <img [src]="serv.imageUrl" alt="Rounded Image"
                         class="img-rounded img-responsive" style="width: 100%">
                </a>
            </div>
        </ng-template>
        <ng-template #textBlock>
            <h3 class="font-weight-bold pt-5">{{serv.serviceName}}</h3>
            <p class="py-4">{{serv.description}}</p>
            <a [routerLink]="[serv.route]" class="btn btn-dark btn-round">{{serv.buttonMessage}}</a>
        </ng-template>
        <!-- End Templates: -->

    </div>
</div>
