<!-- The actual form for students to register to -->
<form>

    <ng-container [ngSwitch]="serviceType.key">

        <!-- Go to ../../../levelfy/utils/services-types to check if the order is correct -->

        <app-ases-per *ngSwitchCase="servicesTypes[0].key"></app-ases-per>

        <app-ases-paq *ngSwitchCase="servicesTypes[1].key"></app-ases-paq>

        <app-mar *ngSwitchCase="servicesTypes[2].key"></app-mar>

    </ng-container>


    <!-- Always here -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <div  class="card no-transition bg-light shadow-none">
                <div class="card-body d-flex align-items-center justify-content-between p-4">
                    <p class="lead mb-0">{{messageForTheButton}}</p>
                    <button  class="btn btn-black btn-marketing rounded-pill ml-2" type="submit">Inscribirse</button>
                </div>
            </div>
        </div>
    </div>


</form>

